@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&family=Poetsen+One&display=swap');
.App {
    /* background-color: black; */
    background: url("/public/assets/plainBack.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: aliceblue;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif, poetsen;
    padding-top: 10%;
}

.card {
    background: linear-gradient(to top,rgba(255, 241, 235, 0.7) 0%,  rgba(172, 224, 249, 0.7) 100%);
    width: 70%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .3rem;
    padding: 2%;
    font-size: .8rem;
    box-shadow: 4px 4px 10px rgb(56, 14, 14),
                -2px -2px 10px black;
}

h1 {
    padding-top: 2rem;
    font-size: 1.5rem;
}

.btn {
    font-family: cursive;
    width: 8rem;
    margin-top: 1rem;
    font-size: .8rem;
}

p {
    padding-top: 3%;
}

.by {
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5%;
}

.code {
    padding-top: 8%;
    font-size: .8rem;
}

#key {
   color: rgb(145, 255, 0);
}
